.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
}

.modal-wrapper {
  position: relative;
  height: 100%;
}

.modal {
  position: absolute;
  width: 95rem;
  height: 45rem;
  background-color: #ffffff;
  top: 45%;
  left: 48%;
  transform: translate(-45%, -45%);
  border-radius: 5px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: #171a1e;
  font-size: 2rem;
  font-weight: 300;
  animation: popUp .3s;
}

.icon-modal-close {
  user-select: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  position: absolute;
  right: 2.5rem;
  top: 2rem;
  font-size: 2.5rem;
}

.popup-info {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #E0DDD9;
  font-size: 2rem;
}

.popup-img {
  width: 28.5rem;
  height: 18.5rem;
  margin: 4rem 1rem 3rem 1rem;
}

.popup-info span {
  margin-left: 2rem;
  margin-bottom: 7px;
  font-size: 1.3rem;
  font-weight: 400;
}

.popup-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.7rem;
  padding-left: 1.7rem;
  line-height: 4rem;
}

.popup-content {
  padding: 1rem 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-article {
  display: flex;
  margin-top: 1.5rem;
  font-size: 2.3rem;
  line-height: 2.3rem;
}

.popup-description,
.popup-text {
  padding: 1rem 1.5rem;
  min-height: 23rem;
  width: 29rem;
  text-align: justify;
}

.popup-description {
  border-right: .6px solid #E0DDD9;
}

.popup-url {
  font-size: 2.1rem;
  transform: translateY(15px);
}

.popup-url:link,
.popup-url:visited {
  color: #B9BCC1;
}

@keyframes popUp {
  0% {
    transform: translate(-45%, -45%) scale(.25);
  }

  100% {
    transform: translate(-45%, -45%) scale(1);
  }
}
