.news-list-title {
  margin-top: 100px !important;
}

.list-container {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.list-control-pannel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; 
  height: 43px;
  margin-bottom: 2.5rem;
}

.icon-list,
.icon-grid {
  margin-right: 10px;
  cursor: pointer;
}

.list {
  font-family: 'Josefin Sans', sans-serif;
  height: 190px;
  display: flex;
  flex-direction: row;
  width: 915px;
  padding: 10px 10px;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  margin-bottom: 20px;
  border-radius: 7px;
  transition: box-shadow .2s;
  cursor: pointer;
  align-items: center;
}

.list:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.list .article-info {
  width: 600px;
  margin-right: 25px;
  transform: translateY(5px);
}

.list .article-title {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: .7px;
}

.list .article-description {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 13px;
  text-align: justify;
  letter-spacing: .7px;
}

.list .article-img {
  width: 300px;
  height: 160px;
}

.list .extra-info {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.list .extra-info span {
  margin-right: 20px;
  font-size: 13px;
  color: #B9BCC1;
}

.card {
  font-family: 'Josefin Sans', sans-serif;
  width: 265px;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  margin-bottom: 30px;
  border-radius: 7px;
  transition: box-shadow .2s;
  cursor: pointer;
  overflow: hidden;
  position: relative
}

.card:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.card .article-info {
  margin-right: 15px;
  /* height: 4.3rem; */
  height: 6.2rem;
  background-color: #ffffff;
}

.card .article-title {
  font-size: 17px;
  line-height: 2.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 25rem;
}

.card .article-description {
  display: none;
}

.card .article-img {
  display: inline-block;
  width: 300px !important;
  height: 250px;
  transform: translate(-20px, 17px);
  position: absolute;
  top: 55px;
  left: 0;
}

.card .extra-info {
  display: block;
}

.card .extra-info span {
  display: none;
}

.card .extra-info span:nth-child(2) {
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  color: #B9BCC1;
}
