.news-list-title {
  margin-top: 10rem;
}

.list-container {
  padding-top: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.list-control-pannel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; 
  height: 4.3rem;
  margin-bottom: 2.5rem;
}

.icon-list,
.icon-grid {
  margin-right: 1rem;
  cursor: pointer;
}

.list {
  font-family: 'Josefin Sans', sans-serif;
  height: 19rem;
  display: flex;
  flex-direction: row;
  width: 91.5rem;
  padding: 1rem 1rem;
  box-shadow: .5rem .5rem 2.5rem 0 rgba(46,61,73,.2);
  margin-bottom: 2rem;
  border-radius: .7rem;
  transition: box-shadow .2s;
  cursor: pointer;
  align-items: center;
}

.list:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.list .article-info {
  width: 60rem;
  margin-right: 2.5rem;
  transform: translateY(5px);
}

.list .article-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: .7px;
}

.list .article-description {
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 1.3rem;
  text-align: justify;
  letter-spacing: .7px;
}

.list .article-img {
  width: 30rem;
  height: 16rem;
}

.list .extra-info {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}

.list .extra-info span {
  margin-right: 2rem;
  font-size: 1.3rem;
  color: #B9BCC1;
}

.card {
  font-family: 'Josefin Sans', sans-serif;
  width: 26.5rem;
  height: 25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  margin-bottom: 3rem;
  border-radius: .7rem;
  transition: box-shadow .2s;
  cursor: pointer;
  overflow: hidden;
  position: relative
}

.card:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.card .article-info {
  margin-right: 1.5rem;
  height: 6.2rem;
  background-color: #ffffff;
}

.card .article-title {
  font-size: 1.7rem;
  line-height: 2.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 25rem;
}

.card .article-description {
  display: none;
}

.card .article-img {
  display: inline-block;
  width: 30rem !important;
  height: 25rem;
  transform: translate(-20px, 17px);
  position: absolute;
  top: 5.5rem;
  left: 0;
}

.card .extra-info {
  display: block;
}

.card .extra-info span {
  display: none;
}

.card .extra-info span:nth-child(2) {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.3rem;
  color: #B9BCC1;
}
