.source-wrapper {
  position: absolute;
  left: -2rem;
  top: 11rem;
  background-color: #ffffff;
  z-index: 1000;
  font-size: 1.4rem;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
}

.source-container {
  height: 30rem;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 5px;
  width: 118rem;
  overflow: hidden;
  border: 1px solid #E0DDD9;
  position: relative;
}

.source-carousel {
  height: 26rem;
  width: 380rem;
  font-size: 2rem;
  padding: 1rem 1rem;
  transition: all .2s;
  position: absolute;
  left: 0;
}

.checkbox-container {
  position: relative;
  display: inline-block;
  width: 16.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px;
  overflow: hidden;
  height: 2.2rem;
  text-align: left;
  margin-bottom: 5px;
  user-select: none;
  cursor: pointer;
}

.checkbox {
  visibility: hidden;
  margin-right: 1.5rem;
  z-index: 1000;
}

.checkbox:checked ~ .checkmark {
  background-color: #c4dff6;
  border: 1px solid #c4dff6;
}

.checkmark {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #E0DDD9;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.checkmark:after {
  content: '';
  top: 1.2px;
  left: 5px;
  width: 6px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
}

.label-icon-source {
    color: #171a1e;
    margin-right: 1rem;
}

.inactive {
  display: none;
}

.btn-submit {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  padding: 5px 5px;
  left: 1rem;
  font-size: 1.5rem;
  width: 9rem;
  height: 2.8rem;
  border: none;
  box-shadow: .5rem .5rem 2.5rem 0 rgba(46, 61, 73, 0.2);
  background-color: #3B3738;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:focus {
  outline: none;
}

.icon-to-left,
.icon-to-right {
  font-size: 4rem;
  display: inline-block;
  color: #3B3738;
  width: 4rem;
  position: absolute;
  cursor: pointer;
  user-select: none;
}

.icon-to-left {
  transform: rotate(90deg);
  left: -4.5rem;
  top: 10rem;
}

.icon-to-right {
  transform: rotate(-90deg);
  top: 10rem;
  right: -4.5rem;
}
